[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tensorflow = "==2.13.0"
fastapi = "*"
uvicorn = "*"
python-multipart = "*"
pillow = "*"
tensorflow-serving-api = "==2.13.0"
matplotlib = "*"
numpy = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.11"
